<div class="flex flex-col">
<h1 class="text-3xl font-bold">User Management</h1>
<div class="flex justify-end mb-4">
      <button nz-button nzType="primary" (click)="createUserModal()">
            <span nz-icon nzType="user-add"></span>
            Create User
      </button>
</div>

<div>
      <nz-table #dataTable [nzData]="data" [nzBordered]="true" [nzSize]="'middle'">
            <thead>
                  <tr>
                        <th nzWidth="50px">No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>
                  </tr>
            </thead>
            <tbody>
                  @for (user of data; track user.id; let index = $index) {
                  <tr (click)="editUser(user.id)">
                              <td>{{ index + 1 }}</td>
                              <td>{{ user.username }}</td>
                              <td>{{ user.email }}</td>
                              <td>{{ user.role }}</td>
                              <td class="flex gap-2">
                                    <!-- <a nz-button nzType="primary" class="cursor-pointer" nzSize="small" (click)="startEdit(user.id)">Edit</a> -->
                                    <a nz-button nzDanger="true" class="cursor-pointer" nzSize="small"
                                          (click)="deleteUser(user)">Delete</a>
                              </td>
                  </tr>
            }
            </tbody>

      </nz-table>
</div>
<nz-modal
      [(nzVisible)]="isModalVisible"
      [nzTitle]="modalTitle"
      [nzWidth]="720"
      [nzFooter]="null"
      (nzOnCancel)="handleCancel()">
      <ng-container *nzModalContent>
            <form-user
                  [id]="selectedUserId"
                  (onCancel)="handleCancel()"
                  (onCancelEvent)="handleCancel()"
                  >
            </form-user>
      </ng-container>
</nz-modal>

</div>
